{% extends 'layouts/base.html' %}

{% block css %}

{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-5 justify-content-center text-center">
        <div class="col-lg-10">
            <h2 class="mb-3">Search for posts </h2>
            <form action="{% url 'search' %}" method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="search" name="query" class="form-control" placeholder="search for post" aria-label="Recipient's username"
                        aria-describedby="button-addon2">
                    <button class="btn btn-warning" type="button">Search</button>
    
                </div>

            </form>
        </div>
        <div class="row justify-content-center mt-5">

            {% for article in articles %}
    
            <div class="col-lg-4">
                <div class="card">
                    <img class="img-fluid" src="https://media.istockphoto.com/photos/little-african-american-girl-with-dog-on-bed-picture-id1361312102?b=1&k=20&m=1361312102&s=170667a&w=0&h=hgaNdtoeGjJhNsiUdzYBbRvwNl7z2PbLXCLiYUMSM-8=">
                    <div class="card-body">
                        <span class="badge bg-warning">{{article.category.name}}</span>
                        <h6>{{article.title}}</h6>
                        <small>{{article.content | truncatewords:10}}</small>
                    </div>
                </div>
            </div>
    
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
b
{% endblock %}